html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.group-item{
    margin-top:10px;
}

.logout-form{
    padding-bottom: 8px;
    padding-top: 8px;
}
.filterId{
    width:100px;
}

.radio.form-group .grouplabel,
.stud-anketa-view .grouplabel{
    padding-left:0px;
    font-weight:bold;
}
.error{
    color:red;
    font-weight: bold;
}
.itemlabel{
    display:inline-block;
    margin-left:0em;
    border-radius:3px;
    padding-bottom:2px;
}
.itemlabel:hover{
    background-color:silver;
}
.itemlabel:hover .radio input[type="radio"]{
    background-color:silver;
}
.radio input[type="radio"].anketa-radio{
    margin-left:0px;
    position: relative;
    vertical-align: bottom;
}

.radio label{
    padding-left:5px;
    padding-right:5px;
    margin-right:10px;
}

.tree-level-selector .tree-level-selector{
    padding-left:2em;
}

.tree .grouplabel{
    margin-right:10px;
}
.tree .treeNodeLabel{
    padding-right:10px;
    padding-left:5px;
    font-weight:normal;
}

.student-search-elm{
    display:inline-block;
    vertical-align:top;
    width:16em;
}
.student-search-form{
    display:inline-block;
    vertical-align:top;    
}